body {
  margin: 0px;
  background: #FFFFFF;
  font-family: monospace;
  font-size: 11px;
  color: #000;
  text-align: center;
}

.app {
  margin: 10px;
  padding: 10px;
  background: #F7F7F7;
  border: 2px #FBFBFB solid;
  border-radius: 12px;
}

.topline {
  font-size: 14px;
}

.StateViewer {
  background: #EFEFEF;
  border: 2px #F3F3F3 solid;
  border-radius: 8px;
  font-family: monospace;
  font-size: 9px;
}

.ModeComponent {
  margin: 10px 0px;
  padding: 10px 0px;
  background: #EFEFEF;
  border: 2px #F3F3F3 solid;
  border-radius: 8px;
}

.Question {
  margin: 4px;
  padding: 0px 10px;
  border-radius: 6px;
}

.QuestionNotAnswered {
  background: #F5F5F7;
  border: 1px #D5D5EE solid;
}

.QuestionAnswered {
  background: #E8E8E8;
}

.QuestionNumber {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 125%;
  color: #777;
}

.Answer {
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  transition: background 0.5s, border 0.5s;
}

.AnswerAwaitingSelection {
  background: #BBE6EE;
  border: 1px #99CCEE solid;
}

.AnswerCorrectSelection {
  background: #BBFFBB;
  border: 2px #88EE88 solid;
  font-weight: bold;
  color: darkgreen;
}

.AnswerCorrectNotSelected {
  background: #EEEEAA;
  border: 2px #44DD00 dashed;
  font-weight: bold;
}

.AnswerIncorrectSelection {
  background: #FFDDDD;
  border: 2px #FFAAAA solid;
  color: red;
}

.AnswerOther {
  background: #EEEEEE;
  border: 1px #DDDDDD solid;
}

button {
  margin: 0px 5px;
  padding: 4px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.ButtonEnabled {
  background: #F6F6F0;
  color: #222;
  border: 1px #440 solid;
}

.ButtonDisabled {
  background: #EEE;
  color: #999;
  border: 1px #CCC solid;
}
